create database VATLIEUXAYDUNG
go
use VATLIEUXAYDUNG

CREATE TABLE LOAISANPHAM
(
	MALOAI VARCHAR(10) PRIMARY KEY,
	TENLOAI NVARCHAR(100),
)

CREATE TABLE SANPHAM
(
	MASP VARCHAR(10) PRIMARY KEY,
	TENSP NVARCHAR(100),
	HINHANH NVARCHAR(100),
	DONVITINH NVARCHAR(100),
	SOLUONG INT, 
	DONGIA FLOAT,
	MALOAI VARCHAR(10) FOREIGN KEY REFERENCES LOAISANPHAM(MALOAI) ON DELETE CASCADE ON UPDATE CASCADE,
)

CREATE TABLE KHACHHANG
(
	MAKH int IDENTITY(1,1) PRIMARY KEY,
	TENKH NVARCHAR(50),
	DIACHI NVARCHAR(100),
	EMAIL NVARCHAR(100),
	SDT VARCHAR(10),
) 

CREATE TABLE QUANLY
(
	TAIKHOAN VARCHAR(100)PRIMARY KEY,
	MATKHAU VARCHAR(20),
	EMAIL  VARCHAR(100),
	DIACHI NVARCHAR(100),
	SDT VARCHAR (11),
	HOTEN NVARCHAR(100),
	PHANQUYEN int
)

CREATE TABLE DONHANG
(
	MADONHANG int PRIMARY KEY,
	MAKH int FOREIGN KEY REFERENCES KHACHHANG(MAKH) ON DELETE CASCADE ON UPDATE CASCADE,
	NGAYDATHANG DATE
)

CREATE TABLE CHITIETDONHANG
(
	MADONHANG int FOREIGN KEY REFERENCES DONHANG(MADONHANG)ON DELETE CASCADE ON UPDATE CASCADE,
	MASP VARCHAR(10) FOREIGN KEY REFERENCES SANPHAM(MASP)ON DELETE CASCADE ON UPDATE CASCADE,
	SOLUONGSP INT,
)

CREATE TABLE NHACUNGCAP
(
	MANCC VARCHAR(10) PRIMARY KEY,
	TENNCC NVARCHAR(100),
	EMAIL NVARCHAR(100),
	SDT VARCHAR(11),
)

CREATE TABLE NHAPHANG
(
	MANHAPHANG VARCHAR(10) PRIMARY KEY,
	TAIKHOAN VARCHAR(100) FOREIGN KEY REFERENCES QUANLY(TAIKHOAN)ON DELETE CASCADE ON UPDATE CASCADE,
	MANCC VARCHAR(10) FOREIGN KEY REFERENCES NHACUNGCAP(MANCC)ON DELETE CASCADE ON UPDATE CASCADE,
	NGAYNHAP DATE	
)

CREATE TABLE CHITIETNHAPHANG
(
	MANHAPHANG VARCHAR(10) FOREIGN KEY REFERENCES NHAPHANG(MANHAPHANG) ON DELETE CASCADE ON UPDATE CASCADE,
	MASP VARCHAR(10) FOREIGN KEY REFERENCES SANPHAM(MASP)ON DELETE CASCADE ON UPDATE CASCADE,
	SOLUONG INT,
	GIANHAP FLOAT,
	GIABAN FLOAT,
)

INSERT INTO dbo.QUANLY(TAIKHOAN,MATKHAU,EMAIL,DIACHI,HOTEN, PHANQUYEN, SDT)
                           VALUES('admin','admin', 'admin@gmail.com','Quy Nhon','ADMIN',1, '0964424551')
INSERT INTO dbo.QUANLY(TAIKHOAN,MATKHAU,EMAIL,DIACHI,HOTEN, PHANQUYEN, SDT)
                           VALUES('nghia','nghia', 'nghia@gmail.com','Quy Nhon',N'Nghĩa',0, '0964424551')
                           
                